body {
    font-family: sans-serif;
    background-color: lightblue;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.links{
    font-family: ariel;
    color: #fbfb14;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.body1{
    font-family: Agency FB;
    color: #322250;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
